<!DOCTYPE html>
<!-- Created by CodingLab |www.youtube.com/c/CodingLabYT-->
<html lang="en" dir="ltr">

<head>
  <meta charset="UTF-8">
  <title>Ro'yhatan o'tish | Book.uz</title>
  <link rel="stylesheet" href="assets1/css/loginStyle.css">
  <!-- Fontawesome CDN Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400,400i,700&display=fallback">

<!--  <link rel="stylesheet" th:href="@{/css/all.min.css}">-->

<!--  <link rel="stylesheet" th:href="@{/css/test.min.css}">-->
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<body>
  <div class="container">

<!--    <input type="checkbox" id="flip">-->

    <div class="forms">
      <div class="form-content">
        <div class="login-form">
          <div class="title">Ro'yhatan o'tish</div>
          <form id="formDate">
            <div class="input-boxes text-center">

              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Ism va Familyangizni kiriting!" id="ismandfamilya" name="ismandfamilya" required>
              </div>

              <div class="input-box">
                <i class="fas fa-envelope"></i>
                <input type="text" placeholder="Pasport Seriya va Raqamini kiriting" id="seriya" name="seriya" required>
              </div>

              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="email" placeholder="Emailni kiriting!" id="email" name="email" required>
              </div>

              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="number" placeholder="Telefon nomerni kiriting! (+998 xx xxx xx-xx)" id="number" name="number" required>
              </div>

              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Parol kiriting!" id="parol" name="parol" required>
              </div>

              <div class="input-box">
                <i class="fas fa-lock"></i>
                <input type="password" placeholder="Parolni tasdiqlang!" id="tasparol" name="tasparol" required>
              </div>

              <div class="button input-box text-center">
                <button type="button" id="btn" class="btn btn-primary w-75 text-center"
                style="width: 100%; height: 80%; background: #0c84ff; color: white; border: none; padding: 2px 20px; font-size: 18px; border-radius: 5px;cursor: pointer; "
                >Ro'yhatan o'tish</button>
              </div>

              <div>
                <p>Ro'yhatan o'tganmisiz?</p>
                <a th:href="@{/login}"  style="color: #106eea; text-decoration: none;"> Tizimga kirish</a>
              </div>

            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
<script src="js/jquery.min.js"></script>

<!--<script th:src="@{/js/bootstrap.bundle.min.js}"></script>-->

<!--<script th:src="@{/js/test.min.js}"></script>-->

<!--<script th:src="@{/js/demo.js}"></script>-->
<!--<script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>-->
<!--<script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>-->

<script type="text/javascript">
  var baseUrl = window.location.origin;

  $(document).ready(function (){
    $(document).on("click","#btn",function (){

      var name = $('#kitobNomi').val();
      var muallifi = $('#kitobMuallifi').val();
      var katagoriya = $('#katagoriya').val();
      var janr = $('#janr').val();
      var yil = $('#kitobDate').val();
      var muqova = $('#kitobMuqova').val();

      var from=$('#formid')[0];
      var data1=new FormData(from);

      if (name!=="" && muallifi!=="" && katagoriya!==0 && yil!=="" && muqova!=="" && janr!==0){
        $.ajax({
          url:baseUrl+"/api/qrcode/book",
          type: 'POST',
          enctype: 'multipart/form-data',
          data: data1,
          processData: false,
          contentType: false,
          cache: false,
          success: function (data , status , info){
            if(info.status=="200"){
              swal({
                title: "Success Full",
                text: "Ijaraga beriladigan kitob muvaffaqiyatli joylandi!",
                icon: "success",
                buttons: true,
                dangerMode: true,
              })
                      .then((willDelete) => {
                        if (willDelete) {
                          clearBook();
                          $("#insert").modal('hide')
                          window.location = "/qr/books";
                        }
                      });
            }
            else if(info.status=="208"){
              swal({
                title: "Warning",
                text: "Bunday QR code kitob mavjud!",
                icon: "error",
                buttons: true,
                dangerMode: true,
              });
            }
          },
          error: function (error){
            alert("error "+error);
            console.log(error);
          }
        })
      }else{
        swal({
          title: "Warning",
          text: "Maydonlarni to'ldiring!",
          icon: "warning",
          buttons: true,
          dangerMode: true,
        });
      }

    })
  })


</script>
</html>