<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta content="width=device-width, initial-scale=1.0" name="viewport">

  <title>Books.uz</title>
  <meta content="" name="description">
  <meta content="" name="keywords">

  <!-- Favicons -->
  <!-- ICONS -->
  <!-- <link href="assets/img/favicon.png" rel="icon"> -->
  <!-- <link href="assets/img/apple-touch-icon.png" rel="apple-touch-icon"> -->
  <link rel="stylesheet" href="assets/css/ab.css">

  <!-- Google Fonts -->
  <link
    href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
    rel="stylesheet">

  <!-- Vendor CSS Files -->
  <link href="assets/vendor/aos/aos.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
  <link href="assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
  <link href="assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
  <link href="assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
  <link href="assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">

  <!-- Template Main CSS File -->
  <link href="assets/css/style2.css" rel="stylesheet">

  <!-- =======================================================

  ======================================================== -->
</head>

<body>

  <!-- ======= Header ======= -->
  <header id="header" class="d-flex align-items-center">
    <div class="container d-flex align-items-center justify-content-between">

      <h1 class="logo"><a th:href="@{/home}">Books<span>.uz</span></a></h1>
      <!-- Uncomment below if you prefer to use an image logo -->
      <!-- <a href="index.html" class="logo"><img src="assets/img/logo.png" alt=""></a> -->

      <nav id="navbar" class="navbar">
        <ul>
          <li><a class="nav-link scrollto active" th:href="@{/home}">Bosh sahifa</a></li>
          <li class="dropdown scrollto"><a th:href="@{/home}"><span>Kitoblar</span> <i class="bi bi-chevron-down"></i></a>
            <ul>
              <li><a class="scrollto" th:href="@{/books}" >Jahon adabiyoti</a></li>
              <li><a class="scrollto" th:href="@{/books}" >Badiy adabiyotlar</a></li>
              <li><a class="scrollto" th:href="@{/books}" >Ilmiy adabiyotlar</a></li>
            </ul>
          </li>
          <li><a class="nav-link scrollto" th:href="@{/news}">Yangiliklar</a></li>
<!--          <li><a class="nav-link scrollto " th:href="@{/about}">Biz haqimizda</a></li>-->
          <li><a class="nav-link scrollto " th:href="@{/cantact}" >Biz bilan bog'lanish</a></li>
        </ul>
        <i class="bi bi-list mobile-nav-toggle"></i>
      </nav><!-- .navbar -->
    </div>
  </header>
  <!-- End Header -->

  <main id="main">

    
    <!-- ======= Biz haqimizda Section ======= -->
    <section id="about" class=" mb-5" style="max-height: 2500px;">

      <div class="container" data-aos="fade-up">
        <header class="section-header1">
          <h2>Biz haqimizda</h2>
        </header>
        <!--        <div class="row gx-0">-->

        <!--          <div class="col-lg-6 d-flex flex-column justify-content-center" data-aos="fade-up" data-aos-delay="200">-->
        <!--            <div class="content">-->
        <!--              <h2>Kutubhonaning tashkil topishi</h2>-->
        <!--              <h4>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Iste amet omnis libero autem, rerum velit-->
        <!--                voluptas? Ea ullam accusantium dicta.</h4>-->
        <!--              <p>-->
        <!--                Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt tenetur numquam provident iure esse-->
        <!--                recusandae quod nobis nostrum in veniam voluptas accusamus quaerat voluptate, sequi praesentium, iusto-->
        <!--                reiciendis corporis libero repudiandae. Suscipit animi beatae minus at eius autem necessitatibus commodi-->
        <!--                quos tempora adipisci magnam earum, vero temporibus consequatur doloribus nisi.-->
        <!--              </p>-->
        <!--              <div class="text-center text-lg-start" data-aos="fade-up" data-aos-delay="500">-->
        <!--                <a th:href="@{/about}"-->
        <!--                  class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">-->
        <!--                  <span>Batafsil malumot</span>-->
        <!--                  <i class="bi bi-arrow-right"></i>-->
        <!--                </a>-->
        <!--              </div>-->
        <!--            </div>-->
        <!--          </div>-->

        <!--          <div class="col-lg-6 d-flex align-items-center" data-aos="zoom-out" data-aos-delay="200">-->
        <!--            <img src="assets/img/about.jpg" class="img-fluid" alt="">-->
        <!--          </div>-->

        <!--        </div>-->



        <div class="row border p-4 mb-5" style="">
          <div class="col-lg-6 col-md-12 col-sm-12">
            <h2>Sarlavha</h2>
            <p>
              Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt tenetur numquam provident iure esse
              recusandae quod nobis nostrum in veniam voluptas accusamus quaerat voluptate, sequi praesentium, iusto
              reiciendis corporis libero repudiandae. Suscipit animi beatae minus at eius autem necessitatibus commodi
              quos tempora adipisci magnam earum, vero temporibus consequatur doloribus nisi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt tenetur numquam provident iure esse
              recusandae quod nobis nostrum in veniam voluptas accusamus quaerat voluptate, sequi praesentium, iusto
              reiciendis corporis libero repudiandae. Suscipit animi beatae minus at eius autem necessitatibus commodi
              quos tempora adipisci magnam earum, vero temporibus consequatur doloribus nisi.Lorem ipsum dolor sit amet consectetur adipisicing elit. Incidunt tenetur numquam provident iure esse
              recusandae quod nobis nostrum in veniam voluptas accusamus quaerat voluptate, sequi praesentium, iusto
              reiciendis corporis libero repudiandae. Suscipit animi beatae minus at eius autem necessitatibus commodi
              quos tempora adipisci magnam earum, vero temporibus consequatur doloribus nisi.
            </p>
            <div>
              <a th:href="@{/about}" id="b-b" style="background: #106eea; border-radius: 5px; color: #fff"
                 class="btn-read-more d-inline-flex align-items-center justify-content-center align-self-center">
                <span>Batafsil malumot</span>
                <i class="bi bi-arrow-right"></i>
              </a>
            </div>
          </div>
          <div class="col-lg-6 img d-md-none d-sm-none d-lg-block mt-sm-3">
            <img src="assets/img/about.jpg" class="card-img-top" alt="yangilik uchun rasm!">
          </div>
        </div>


      </div>

    </section><!-- End Biz haqimizda Section -->


  </main>
    <!-- ======= Footer ======= -->
    <footer id="footer">



        <div class="footer-top">
          <div class="container">
            <div class="row">
    
              <div class="col-lg-4 col-md-6 footer-contact">
                <h3>Books<span>.uz</span></h3>
                <p>
                  O'zbekiston <br>
                  Jizzax shaxar<br>
                  Sharof Rashidov ko'chasi 6-uy <br><br>
                  <strong>Phone:</strong> +998 (99) 031 08-12<br>
                  <strong>Email:</strong> info@example.com<br>
                </p>
              </div>
    
              <div class="col-lg-4 col-md-6 footer-links">
                <h4>Foydali havolalar</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a th:href="@{/home}">Bosh sahifa</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a th:href="@{/books}">Kitoblar</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a th:href="@{/news}">Yangiliklar</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a th:href="@{/about}">Biz haqimizda</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a th:href="@{/cantact}">Biz bilan aloqa qiling</a></li>
                </ul>
              </div>
    
              <!-- <div class="col-lg-3 col-md-6 footer-links">
                <h4>Our Services</h4>
                <ul>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Web Design</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Web Development</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Product Management</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Marketing</a></li>
                  <li><i class="bx bx-chevron-right"></i> <a href="#">Graphic Design</a></li>
                </ul>
              </div> -->
    
              <div class="col-lg-4 col-md-6 footer-links">
                <h4>Bizning ijtimoiy tarmoqlarimiz</h4>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Ducimus, ad possimus. Culpa vel ipsum velit?</p>
                <div class="social-links mt-3">
                  <a href="#" class="twitter"><i class="bx bxl-twitter"></i></a>
                  <a href="#" class="facebook"><i class="bx bxl-facebook"></i></a>
                  <a href="#" class="instagram"><i class="bx bxl-instagram"></i></a>
                  <a href="#" class="google-plus"><i class="bx bxl-skype"></i></a>
                  <a href="#" class="linkedin"><i class="bx bxl-linkedin"></i></a>
                </div>
              </div>
    
            </div>
          </div>
        </div>
    
        <div class="container py-4">
          <div class="copyright">
            &copy; Copyright <strong><span>Books.uz</span></strong>. All Rights Reserved
          </div>
          <div class="credits">
            Designed by <a href="#">GoTigers</a>
          </div>
        </div>
      </footer><!-- End Footer -->
    

      <a href="#" class="back-to-top d-flex align-items-center justify-content-center"><i
          class="bi bi-arrow-up-short"></i></a>
    
      <!-- Vendor JS Files -->
      <script src="assets/vendor/purecounter/purecounter_vanilla.js"></script>
      <script src="assets/vendor/aos/aos.js"></script>
      <script src="assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
      <script src="assets/vendor/glightbox/js/glightbox.min.js"></script>
      <script src="assets/vendor/isotope-layout/isotope.pkgd.min.js"></script>
      <script src="assets/vendor/swiper/swiper-bundle.min.js"></script>
      <script src="assets/vendor/waypoints/noframework.waypoints.js"></script>
      <script src="assets/vendor/php-email-form/validate.js"></script>
    
      <!-- Template Main JS File -->
      <script src="assets/js/main.js"></script>
    
    </body>
    
    </html>